<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">##################</font>
<font color="white">##  </font><font color="Yellow">Character Modifier</font><font color="white">  ##</font>
<font color="white">##################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<font color="green">Health Points :</font> <a href="chatcmd:///set 27 1">1</a> <a href="chatcmd:///set 27 50">50</a> <a href="chatcmd:///set 27 100">100</a> <a href="chatcmd:///set 27 250">250</a> <a href="chatcmd:///set 27 500">500</a> <a href="chatcmd:///set 27 1000">1000</a> <a href="chatcmd:///set 27 5000">5000</a> <a href="chatcmd:///set 27 10000">10000</a> <a href="chatcmd:///set 27 50000">50000</a>
<font color="green">Nano Points :</font> <a href="chatcmd:///set 214 1">1</a> <a href="chatcmd:///set 214 50">50</a> <a href="chatcmd:///set 214 100">100</a> <a href="chatcmd:///set 214 250">250</a> <a href="chatcmd:///set 214 500">500</a> <a href="chatcmd:///set 214 1000">1000</a> <a href="chatcmd:///set 214 5000">5000</a> <a href="chatcmd:///set 214 10000">10000</a> <a href="chatcmd:///set 214 50000">50000</a>

<font color="red">When adjusting character level, within IP distribution</font>
<font color="red">Click Save Changes once to update IP point to the correct level</font>

<font color="green">IP Points :</font> <a href="chatcmd:///set 53 1000">1000</a> <a href="chatcmd:///set 53 5000">5000</a> <a href="chatcmd:///set 53 10000">10000</a> <a href="chatcmd:///set 53 250000">250000</a> <a href="chatcmd:///set 53 5000000">5000000</a> <a href="chatcmd:///set 53 100000000">100000000</a> <a href="chatcmd:///set 53 500000000">500000000</a>

<font color="green">Title level :</font> <a href="chatcmd:///set 37 1">1</a> <a href="chatcmd:///set 37 2">2</a> <a href="chatcmd:///set 37 3">3</a> <a href="chatcmd:///set 37 4">4</a> <a href="chatcmd:///set 37 5">5</a> <a href="chatcmd:///set 37 6">6</a> <a href="chatcmd:///set 37 7">7</a>
<font color="green">Character level :</font> <a href="chatcmd:///set 54 1">1</a> <a href="chatcmd:///set 54 25">25</a> <a href="chatcmd:///set 54 50">50</a> <a href="chatcmd:///set 54 100">100</a> <a href="chatcmd:///set 54 150">150</a> <a href="chatcmd:///set 54 200">200</a> <a href="chatcmd:///set 54 214">214</a> <a href="chatcmd:///set 54 220">220</a>
<font color="green">Alien level :</font> <a href="chatcmd:///set 169 0">0</a> <a href="chatcmd:///set 169 5">5</a> <a href="chatcmd:///set 169 10">10</a> <a href="chatcmd:///set 169 15">15</a> <a href="chatcmd:///set 169 20">20</a> <a href="chatcmd:///set 169 25">25</a> <a href="chatcmd:///set 169 30">30</a>

<font color="green">Breed / Sex:</font> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/Atrox">Atrox</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/SoliMale">Solitus Male</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/SoliFemale">Solitus Female</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/OpiMale">Opifex Male</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/OpiFemale">Opifex Female</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/NanoMale">Nanomage Male</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/BreedSex/NanoFemale">Nanomage Female</a> 

<font color="green">Profession :</font> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profADV">Adv</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profAGENT">Agent</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profCrat">Crat</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profDOC">Doc</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profENG">Eng</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profENF">Enf</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profFIX">Fix</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profKEEP">Keep</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profMA">MA</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profMP">MP</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profNT">NT</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profSHADE">Shade</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profSOL">Sol</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/profTRADER">Trader</a> <a href="chatcmd:///CellAO-Guardian/Char_Modifier/Professions/Monster">Monster</a>

<font color="green">Side :</font> <a href="chatcmd:///set 33 0">Neutral</a> <a href="chatcmd:///set 33 1">Clan</a> <a href="chatcmd:///set 33 2">Omni</a>
<font color="green">Specializations :</font> <a href="chatcmd:///set 182 0">None</a> <a href="chatcmd:///set 182 1">1</a> <a href="chatcmd:///set 182 3">2</a> <a href="chatcmd:///set 182 7">3</a> <a href="chatcmd:///set 182 15">All</a>
<font color="green">Tokens Omni :</font> <a href="chatcmd:///set 75 10">10</a> <a href="chatcmd:///set 75 30">30</a> <a href="chatcmd:///set 75 120">120</a> <a href="chatcmd:///set 75 250">250</a> <a href="chatcmd:///set 75 400">400</a> <a href="chatcmd:///set 75 1000">1000</a> <a href="chatcmd:///set 75 1750">1750</a> <a href="chatcmd:///set 75 2500">2500</a>
<font color="green">Tokens Clan :</font> <a href="chatcmd:///set 62 10">10</a> <a href="chatcmd:///set 62 30">30</a> <a href="chatcmd:///set 62 120">120</a> <a href="chatcmd:///set 62 250">250</a> <a href="chatcmd:///set 62 400">400</a> <a href="chatcmd:///set 62 1000">1000</a> <a href="chatcmd:///set 62 1750">1750</a> <a href="chatcmd:///set 62 2500">2500</a>
<font color="green">Cash :</font> <a href="chatcmd:///set 61 1000">1000</a> <a href="chatcmd:///set 61 100000">100000</a> <a href="chatcmd:///set 61 1000000">1000000</a> <a href="chatcmd:///set 61 1000000000">1000000000</a>
<font color="green">Victory Points :</font> <a href="chatcmd:///set 669 500">500</a> <a href="chatcmd:///set 669 1000">1000</a> <a href="chatcmd:///set 669 5000">5000</a> <a href="chatcmd:///set 669 10000">10000</a> <a href="chatcmd:///set 669 50000">50000</a> <a href="chatcmd:///set 669 100000">100000</a> <a href="chatcmd:///set 669 500000">500000</a>
<font color="green">Paid Points :</font> <a href="chatcmd:///set 672 500">500</a> <a href="chatcmd:///set 672 1000">1000</a> <a href="chatcmd:///set 672 5000">5000</a> <a href="chatcmd:///set 672 10000">10000</a> <a href="chatcmd:///set 672 50000">50000</a> <a href="chatcmd:///set 672 100000">100000</a> <a href="chatcmd:///set 672 500000">500000</a>

<font color="green">Melee/ma AC :</font> <a href="chatcmd:///set 91 0">0</a> <a href="chatcmd:///set 91 500">500</a> <a href="chatcmd:///set 91 1000">1000</a> <a href="chatcmd:///set 91 5000">5000</a> <a href="chatcmd:///set 91 10000">10000</a> <a href="chatcmd:///set 91 50000">50000</a>
<font color="green">Imp/Proj AC :</font> <a href="chatcmd:///set 90 0">0</a> <a href="chatcmd:///set 90 500">500</a> <a href="chatcmd:///set 90 1000">1000</a> <a href="chatcmd:///set 90 5000">5000</a> <a href="chatcmd:///set 90 10000">10000</a> <a href="chatcmd:///set 90 50000">50000</a>
<font color="green">Energy AC :</font> <a href="chatcmd:///set 92 0">0</a> <a href="chatcmd:///set 92 500">500</a> <a href="chatcmd:///set 92 1000">1000</a> <a href="chatcmd:///set 92 5000">5000</a> <a href="chatcmd:///set 92 10000">10000</a> <a href="chatcmd:///set 92 50000">50000</a>
<font color="green">Disease/Poison AC :</font> <a href="chatcmd:///set 96 0">0</a> <a href="chatcmd:///set 96 500">500</a> <a href="chatcmd:///set 96 1000">1000</a> <a href="chatcmd:///set 96 5000">5000</a> <a href="chatcmd:///set 96 10000">10000</a> <a href="chatcmd:///set 96 50000">50000</a>
<font color="green">Chemical AC :</font> <a href="chatcmd:///set 93 0">0</a> <a href="chatcmd:///set 93 500">500</a> <a href="chatcmd:///set 93 1000">1000</a> <a href="chatcmd:///set 93 5000">5000</a> <a href="chatcmd:///set 93 10000">10000</a> <a href="chatcmd:///set 93 50000">50000</a>
<font color="green">Radiation AC :</font> <a href="chatcmd:///set 94 0">0</a> <a href="chatcmd:///set 94 500">500</a> <a href="chatcmd:///set 94 1000">1000</a> <a href="chatcmd:///set 94 5000">5000</a> <a href="chatcmd:///set 94 10000">10000</a> <a href="chatcmd:///set 94 50000">50000</a>
<font color="green">Cold AC :</font> <a href="chatcmd:///set 95 0">0</a> <a href="chatcmd:///set 95 500">500</a> <a href="chatcmd:///set 95 1000">1000</a> <a href="chatcmd:///set 95 5000">5000</a> <a href="chatcmd:///set 95 10000">10000</a> <a href="chatcmd:///set 95 50000">50000</a>
<font color="green">Fire AC :</font> <a href="chatcmd:///set 97 0">0</a> <a href="chatcmd:///set 97 500">500</a> <a href="chatcmd:///set 97 1000">1000</a> <a href="chatcmd:///set 97 5000">5000</a> <a href="chatcmd:///set 97 10000">10000</a> <a href="chatcmd:///set 97 50000">50000</a>
