<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">###########</font>
<font color="white">## </font><font color="Yellow">Weapons</font><font color="white"> ##</font>
<font color="white">###########</font>

<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Weap\NTCyberdecks\NTCyberdecks">NT Cyberdecks</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Weap\OfabnDreadloch\OfabnDreadloch">OFAB & Dreadloch</a>
